In [1]:
import pandas as pd
import numpy as np

import time
import sys
import os

In [2]:
metadata = pd.read_csv("metadata.csv")
display(metadata)

    Capture       Make      Model  Year
0       101  Chevrolet     Cobalt  2009
1       102  Chevrolet  Silverado  2011
2       103      Dodge       1500  2014
3       104       Ford      F-150  2017
4       105       Ford      Focus  2010
5       106      Honda     Accord  2012
6       107      Honda     Accord  2015
7       108     Nissan       370Z  2015
8       109     Nissan     XTERRA  2010
9       110       Saab       9-7X  2009
10      111     Toyota    Corolla  2009

In [3]:
# how long does this take?
start = time.time()

# make the output file
output = open("can_data.csv", "w+")
output.write("captureid,vehicle_id,ts,arbitration_id,dlc,data,make,model,year\n")

# for every vehicle...
for i in metadata["Capture"].unique():
    vehicle_start = time.time()
    print("Starting vehicle {}...".format(i), end="\t")
    
    f = open("temp/loggerProgram{}.log".format(i), "r")
    f.readline() # ignore the header

    # for every message...
    for line in f:
        # remove white space and the timestamp's ":"
        line = line.split()
        line[0] = line[0][:-1]
        
        # because sometimes pandas indices don't line up
        meta = metadata[metadata["Capture"] == i]
        
        # build the output string
        out = [
            str(i),                     # captureid
            str(i),                     # vehicle_id
            str(line[0]),               # timestamp3
            str(line[1]).upper(),       # arbID
            str(line[2]),               # dlc
            "".join(line[3:]).upper(),  # data
            str(meta["Make"].iloc[0]),  # make
            str(meta["Model"].iloc[0]), # model
            str(meta["Year"].iloc[0])   # year
        ]
        
        # write to the file
        output.write(",".join(out) + "\n")

    f.close()
    vehicle_elapsed = time.time() - vehicle_start
    print("Done! Elapsed: {:.2f} seconds ({:.2f} minutes)".format(vehicle_elapsed, vehicle_elapsed / 60))

# output.close()
elapsed = time.time() - start
print("Elapsed time: {:.2f} seconds ({:.2f} minutes)".format(elapsed, elapsed / 60))

Starting vehicle 101...	Done! Elapsed: 427.61 seconds (7.13 minutes)
Starting vehicle 102...	Done! Elapsed: 197.22 seconds (3.29 minutes)
Starting vehicle 103...	Done! Elapsed: 166.52 seconds (2.78 minutes)
Starting vehicle 104...	Done! Elapsed: 191.83 seconds (3.20 minutes)
Starting vehicle 105...	Done! Elapsed: 311.66 seconds (5.19 minutes)
Starting vehicle 106...	Done! Elapsed: 180.06 seconds (3.00 minutes)
Starting vehicle 107...	Done! Elapsed: 251.37 seconds (4.19 minutes)
Starting vehicle 108...	Done! Elapsed: 275.56 seconds (4.59 minutes)
Starting vehicle 109...	Done! Elapsed: 236.25 seconds (3.94 minutes)
Starting vehicle 110...	Done! Elapsed: 303.24 seconds (5.05 minutes)
Starting vehicle 111...	Done! Elapsed: 218.75 seconds (3.65 minutes)
Elapsed time: 2760.10 seconds (46.00 minutes)