In [1]:
import pandas as pd
import time

In [2]:
# read data into dataframes
start_time = time.time()
basic = pd.read_csv("/Users/david/Documents/masters/thesis/data/snapshots/unfiltered_snapshots.csv")
arbID = pd.read_csv("/Users/david/Documents/masters/thesis/data/snapshots/arbID_snapshots.csv")
random = pd.read_csv("/Users/david/Documents/masters/thesis/data/snapshots/random_snapshots.csv")
all_can = pd.read_csv("/Users/david/Documents/masters/thesis/data/can_data.csv")
print("Elapsed: {:.2f} seconds".format(time.time() - start_time))

/Users/david/anaconda3/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/david/anaconda3/envs/tf/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Elapsed: 158.13 seconds

In [3]:
# select just stone's vehicles
basic = basic[basic["Vehicle"] > 100]
arbID = arbID[arbID["Vehicle"] > 100]
random = random[random["Vehicle"] > 100]
all_can = all_can[all_can["Vehicle"] > 100]

# show the shape of each dataframe
for df in [basic, arbID, random, all_can]:
    print(df.shape)

(28425, 1026)
(32508, 130)
(28425, 1026)
(4161755, 9)

In [4]:
# relabel the vehicles
basic["Vehicle"] -= 101
arbID["Vehicle"] -= 101
random["Vehicle"] -= 101
all_can["Vehicle"] -= 101

In [5]:
for df in [basic, arbID, random]:
    total_samples = len(df)

    for v in df["Vehicle"].unique():
        samples = len(df[df["Vehicle"] == v]) 
        print("{} & {} & {:.2f} \\% \\\\".format(v + 1, samples , 100 * samples / total_samples))
    
    print()

1 & 4115 & 14.48 \% \\
2 & 1856 & 6.53 \% \\
3 & 1812 & 6.37 \% \\
4 & 2221 & 7.81 \% \\
5 & 3806 & 13.39 \% \\
6 & 1709 & 6.01 \% \\
7 & 2220 & 7.81 \% \\
8 & 3041 & 10.70 \% \\
9 & 2564 & 9.02 \% \\
10 & 2980 & 10.48 \% \\
11 & 2101 & 7.39 \% \\

1 & 4903 & 15.08 \% \\
2 & 2346 & 7.22 \% \\
3 & 1936 & 5.96 \% \\
4 & 2221 & 6.83 \% \\
5 & 3806 & 11.71 \% \\
6 & 1947 & 5.99 \% \\
7 & 2735 & 8.41 \% \\
8 & 3416 & 10.51 \% \\
9 & 2874 & 8.84 \% \\
10 & 3799 & 11.69 \% \\
11 & 2525 & 7.77 \% \\

1 & 4115 & 14.48 \% \\
2 & 1856 & 6.53 \% \\
3 & 1812 & 6.37 \% \\
4 & 2221 & 7.81 \% \\
5 & 3806 & 13.39 \% \\
6 & 1709 & 6.01 \% \\
7 & 2220 & 7.81 \% \\
8 & 3041 & 10.70 \% \\
9 & 2564 & 9.02 \% \\
10 & 2980 & 10.48 \% \\
11 & 2101 & 7.39 \% \\